{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/js/typed-landing.js"></script>
    <title>Inicio</title>
  </head>
  <body>
    {% block nav %} {% include "partials/_nav.html" %} {% endblock nav %}
    {%block content %}
    <div class="container p-4">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="container pt-5 mb-10">
          <h1 class="display-3 fw-bolder">
            <span>Conectando</span> <br />
            <span style="color: #b60636" id="typed-element">Empresas</span>
          </h1>
          <h4 class="fw-lighter">
            <span style="color: #FFFFF"
              >Transformando la Reparación de Dispositivos</span
            >
          </h4>
          <div class="pt-2 mt-5">
            <a href="{% url "register-enterprise" %}" class="btn btn-danger me-4">Soy empresa/técnico</a>
            <a href="{% url "register-client" %}" class="btn btn-secondary">Reparar mi dispositivo</a>
          </div>
        </div>

        <img
          src="{% static 'svg/lading-page-header-image.svg' %}"
          alt="person-repairing-a-tech-device"
          width="50%"
          draggable="false"
        />
      </div>

      <div class="mb-10 mt-5">
        <h3>Ingresar ticket de reparación</h3>
        <p class="lead mt-3 fs-6">
          Si ya tienes un ticket de reparación, puedes ingresar el código aquí
          para ver el estado de tu reparación.
        </p>
        <form method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control rounded-2"
              placeholder="Código de ticket"
              aria-label="Código de ticket"
              aria-describedby="button-addon2"
              name="ticket"
              value="{{ ticket.ticket| default:"" }}"
              required
            />
            <button
              class="btn btn-outline-secondary"
              type="submit"
              id="button-addon2"
            >
              Buscar
            </button>
          </div>
          {% if ticket %}
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Estado de tu reparación</h4>
            <p>
              El estado de tu reparación se encuentra <strong>
                {% if ticket.status == "1" %}
                Pendiente por confirmar 🤔
                {% elif ticket.status == "2" %}
                En reparación 🛠️
                {% elif ticket.status == "3" %}
                Finalizado ✅
                {% else %}
                Cancelado ❌
                {% endif %}
              </strong>
            </p>
            <p class="mb-0">
              <strong>Dispositivo:</strong> {{ ticket.device.name }}
            </p>
            <p class="mb-0">
              <strong>Razón de mantenimiento:</strong> {{ ticket.reason }}
            </p>
            <p class="mb-0">
              <strong>Empresa de reparación:</strong> {{ ticket.enterprise.enterprise_name }}
            </p>
            <hr />
            <p class="mb-0">
              <strong>Fecha de creación:</strong> {{ ticket.created_at }}
            </p>
            {% if ticket.status == "En reparación" %}
            <p class="mb-0">
              <strong>Fecha estimada de finalización:</strong>
              {{ ticket.deadline }}
            </p>
            {% endif %}
          </div>
          {% endif %}
      </div>

      {% if  messages %}
      {% for message in messages %}
      <div class="alert alert-error" role="alert">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Error al ingresar el código</h4>
          <p>
            Lo sentimos, no se encontró ningún ticket con el código ingresado.
          </p>
        </div>
      </div>
      {% endfor %}
    
      {% endif %}

      <div class="mt-5">
        <h3>Filtros de búsqueda de empresas de reparación</h3>
      </div>

      <div class="w-25 mt-5 mb-5 bg-light p-3 rounded-3 p-4 w-100">
      <form method="GET" action="{% url "index" %}">
          <label class="form-label" for="customRange2">Distancia de búsqueda</label>  
        <div class="range w-25">
          <input type="range" class="form-range" value="{{ distance }}" min="1" max="10" 
          name="distance-range" id="customRange2" oninput="this.nextElementSibling.value = this.value" />

          <output>
            {{ distance }}
          </output>

        </div>
        <button type="submit" class="btn btn-primary mt-3">Buscar</button>
      </form>
    </div>

    {% if  near_enterprises_count == 0 and near_technicians_count == 0 %}

    <div class="alert alert-danger mt-5" role="alert">
      No se encontraron empresas ni técnicos a menos de <strong>{{ distance }} km</strong> de tu ubicación.
    </div>

    {% else %}
    <div class="alert alert-success mt-5" role="alert">
      Se encontraron <strong>{{ near_enterprises_count }} empresas</strong> y 
      <strong>{{ near_technicians_count }} técnicos</strong>
      a menos de <strong>{{ distance }} km</strong> de tu ubicación.
    </div>
    
    {% endif %}


    <div class="d-flex flex-col mt-5">
        <div class="col-md-12">{{map | safe}}</div>
      </div>
    </div>
  
    <script>
      const typed = new Typed("#typed-element", {
        strings: ["Empresas", "Técnicos", "Clientes"],
        typeSpeed: 100,
        backSpeed: 100,
        backDelay: 1000,
        fadeOut: true,
        loop: true,
      });

      navigator.geolocation.getCurrentPosition(function (position) {
        const geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        }
        document.cookie = `geolocation=${JSON.stringify(geolocation)}; path=/;`;
    });
    
    </script>
    {% endblock %}
  </body>
</html>
