{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    {% block nav %} {% include "partials/_nav.html" %} {% endblock nav %}
    {%block content %}
    <div class="container p-4">
      <div class="row">
        <div class="col-md-12">
          {{map | safe}} 
        </div>
      </div>
      
      {% endblock %}
    </div>
  </body>
</html>
