{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/checkit-logo.png' %}" alt="" width="120" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between mx-4"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayuda</a>
        </li>
      </ul>
      <div class="">
        <a type="button" class="btn btn-outline-primary">Ingresar</a>
      </div>
    </div>
  </div>
</nav>
