{% extends 'base.html' %}
{% load humanize %}
{% block content %} {% include "./partials/_dashboard-navbar.html" %}
<section class="h-100 gradient-custom-2 container mt-5">

  <div class="d-flex justify-content-between align-items-center mb-3 my-5">
    <h3>Mis Dispositivos</h3>
    <a class="btn btn-primary" id="addBtn" data-mdb-toggle="modal" data-mdb-target="#exampleModal"> <i class="fas fa-plus"></i> Agregar</a>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro de Dispositivo</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ device_form.as_p }}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" id="guardarBtn">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                Guardar
              </button>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  <!--Confirm device repair modal-->
  <div class="modal fade" id="confirm-device-repair" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro de Dispositivo</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" id="guardarBtn">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                Guardar
              </button>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  {% if not is_client %}
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Dispositivo</th>
        <th scope="col">Estado</th>
        <th scope="col">Ticket</th>
        <th scope="col">Marca</th>
        <th scope="col">Fecha de adquisición</th>
        <th scope="col">Fecha Registro</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    {% if devices|length > 0 %}
    <tbody class="align-middle">
      {% for maintenance in devices %}
      <tr>
        <th scope="row">{{ maintenance.device.id }}</th>
        <td>
          <img
            class="rounded-3"
            src="{{ maintenance.device.picture.url }}"
            alt="{{ maintenance.device.device.name }}"
            width="90"
            draggable="false"
          />
        </td>
        <td>{{ maintenance.device.name }}</td>
        <td>
          {% if maintenance.status == "1" %}
          <span class="badge bg-warning text-dark">En espera</span>
          {% elif maintenance.status == "2" %}
          <span class="badge bg-info text-dark">En proceso</span>
          {% elif maintenance.status == "3" %}
          <span class="badge bg-success text-dark">Finalizado</span>
          {% else %}
          <span class="badge bg-danger text-dark">Cancelado</span>
          {% endif %}
        </td>
        <td>
          <p class="m-0 ms-2">{{ maintenance.ticket }}</p>
        </td>
        <td>
            <p class="m-0 ms-2">{{ maintenance.device.brand.name }}</p>
        </td>
        <td>
          {% if maintenance.adquisition_date %}
            {{ maintenance.adquisition_date|date:"d-m-Y" }}
            {% else %}
            No especificado
          {% endif %}
        </td>
        <td>{{ maintenance.created_at|naturaltime  }}</td>
        <td>
          <div class="btn-group w-25" role="group" aria-label="Basic example">

            <a href="{% url 'dashboard-maintenance-detail' maintenance.ticket %}" 
            target="_blank"
            class="btn btn-success"> <i class="fas fa-eye"></i></a>

            {% if  maintenance.status == "1" %}
            <a class="btn btn-warning" 
            href="{% url 'dashboard-confirm-device-repair' maintenance.id %}"
            id="device-details"> <i class="fas fa-check"></i></a>

            {% else %}
            <a class="btn btn-warning disabled" aria-disabled="true"> <i class="fas fa-check"></i></a>
            {% endif %}

            
            <a class="btn btn-primary"> <i class="fas fa-edit"></i></a>

            <a class="btn btn-danger"> <i class="fas fa-remove"></i></a>

            <a class="btn btn-info"> <i class="fas fa-tools"></i></a>

          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
    {% else %}
    <tbody>
      <tr>
        <td colspan="4">No hay dispositivos registrados</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
  {% else %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Dispositivo</th>
        <th scope="col">Categoría</th>
        <th scope="col">Marca</th>
        <th scope="col">Fecha de adquisición</th>
        <th scope="col">Fecha Registro</th>
        <th scope="col">Estado de mantenimiento</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    {% if devices|length > 0 %}
    <tbody class="align-middle">
      {% for device in devices %}
      <tr>
        <th scope="row">{{ device.id }}</th>
        <td>
          <img
            class="rounded-3"
            src="{{ device.picture.url }}"
            alt="{{ device.name }}"
            width="90"
            draggable="false"
          />
        </td>
        <td>{{ device.name }}</td>
        <td>{{ device.category }}</td>
        <td>
            <p class="m-0 ms-2">{{ device.brand.name }}</p>
        </td>
        <td>
          {% if device.adquisition_date %}
            {{ device.adquisition_date|date:"d-m-Y" }}
            {% else %}
            No especificado
          {% endif %}
        </td>
        <td>{{ device.created_at|naturaltime  }}</td>
        <td>
          {% if device.status == "1" %}
          <span class="badge bg-warning text-dark">En espera</span>
          {% elif device.status == "2" %}
          <span class="badge bg-info text-dark">En proceso</span>
          {% elif device.status == "3" %}
          <span class="badge bg-success text-dark">Finalizado</span>
          {% elif device.status == "4" %}
          <span class="badge bg-danger text-dark">Cancelado</span>
          {% else %}
          <span class="badge bg-secondary text-dark">No registrado</span>
          {% endif %}
        </td>
        <td>
          <div class="btn-group w-25" role="group" aria-label="Basic example">
            <a class="btn btn-primary"> <i class="fas fa-edit"></i></a>
            <a class="btn btn-danger"> <i class="fas fa-remove"></i></a>
            <a class="btn btn-success" data-mdb-toggle="modal" data-mdb-target="#exampleModal" id="device-details"> <i class="fas fa-eye"></i></a>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
    {% else %}
    <tbody>
      <tr>
        <td colspan="4">No hay dispositivos registrados</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
  {% endif %}
  <div class="pagination w-100 rounded-3 p-2">
    <span class="step-links">
        {% if devices.has_previous %}
            <a class="m-lg-3" href="?page={{ devices.previous_page_number }}"><i class="bi bi-chevron-left"></i> Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ devices.number }} de {{ devices.paginator.num_pages }}
        </span>

        {% if devices.has_next %}
            <a class="m-lg-3" href="?page={{ devices.next_page_number }}">Siguiente <i class="bi bi-chevron-right"></i></a>
        {% endif %}
    </span>
</div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    const guardarBtn = document.getElementById('guardarBtn');

    form.addEventListener('submit', function() {
      const spinner = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
      guardarBtn.innerHTML = spinner + ' Guardando...';
      guardarBtn.setAttribute('disabled', 'true');
    });

    // View device details
    const deviceDetails = document.getElementById('device-details');
    deviceDetails.addEventListener('click', function() {
      const modalTitle = document.querySelector('.modal-title');
      modalTitle.innerHTML = 'Detalles del dispositivo';
    });
  });
</script>


<style>
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.2;
}
</style>

{% endblock %}
